<!DOCTYPE HTML >
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="{%block desc%}{%endblock%}">
<title>{{book.Name}} - 书集</title>
<link rel="stylesheet" type="text/css" media="screen"  href="/static/css/typo.css" />
<link rel="stylesheet" type="text/css" media="screen"  href="/static/css/style.css" />
<link rel="stylesheet" type="text/css" media="screen"  href="/static/css/tinyeditor.css" />
</head>
<body>
<div class="header">
    <div class="container clearfix">
        <a href="#" class="btn pull-left toggle-summary" aria-label="Toggle summary"><i class="fa fa-align-justify"></i></a>
        <div id="font-settings-wrapper" class="dropdown pull-left">
            <a href="#" class="btn toggle-dropdown" aria-label="Toggle font settings"><i class="fa fa-font"></i>
            </a>
        </div>
    </div>
</div>
<div class="main">
    <div class="container clearfix">
        <textarea id="tinyeditor" style="width: 400px; height: 200px"></textarea>
    </div>
</div>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.form.js"></script>
<script type="text/javascript" src="/static/js/shuji.js"></script>
<script type="text/javascript" src="/static/js/tinyeditor.js"></script>
<script>
var editor = new TINY.editor.edit('editor', {
    id: 'tinyeditor',
    width: 584,
    height: 175,
    cssclass: 'tinyeditor',
    controlclass: 'tinyeditor-control',
    rowclass: 'tinyeditor-header',
    dividerclass: 'tinyeditor-divider',
    controls: ['bold', 'italic', 'underline', 'strikethrough', '|', 'subscript', 'superscript', '|',
    'orderedlist', 'unorderedlist', '|', 'outdent', 'indent', '|', 'leftalign',
    'centeralign', 'rightalign', 'blockjustify', '|', 'unformat', '|', 'undo', 'redo', 'n',
    'font', 'size', 'style', '|', 'image', 'hr', 'link', 'unlink', '|', 'print'],
    footer: true,
    fonts: ['Verdana','Arial','Georgia','Trebuchet MS'],
    xhtml: true,
    bodyid: 'editor',
    footerclass: 'tinyeditor-footer',
    toggle: {text: 'source', activetext: 'wysiwyg', cssclass: 'toggle'},
    resize: {cssclass: 'resize'}
});
</script>
{%block js%}{%endblock%}
</body>
</html>
