<!DOCTYPE HTML >
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="{% block desc %}{% endblock %}">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" media="screen"  href="/static/css/style.css" />
</head>
<body>
<div class="header">
  <div class="container clearfix">
    <h1><a class="header-logo" href="/">书集</a></h1>
    <div class="header-search">
      <form action="/search" method="get">
        <input type="text" name="q" placeholder="搜索作者、书籍" autocomplete="off" spellcheck="false">
      </form>
    </div>
    <ul class="nav-list left">
      <li class="nav-item"><a href="/explore">探索</a></li>
      <li class="nav-item"><a href="/blog">博客</a></li>
    </ul>
    <ul class="nav-list right">
      <li class="nav-item"><a href="/login">登录</a></li>
      <li class="nav-item"><a href="/signup">注册</a></li>
    </ul>
  </div>
</div>
<div class="main">
  <div class="container clearfix">
    {% block content %}{% endblock %}
  </div>
</div>
</body>
</html>
