{%extends "layout.html"%}
{% block title %}登录{% endblock %}
{%block content%}
<h1>登录</h1>
<form id="login-form" class="form" action="#" method="post" name="signin-form">
    <div class="alert alert-danger" id="loginMsg"></div> 
    <div class="form-group"> 
        <label class="control-label" for="email">用户名</label>
        <input type="text" class="form-control" id="account" name="account"> 
    </div>
    <div class="form-group"> 
        <label class="control-label" for="pwd">密码</label>
        <input type="password" class="form-control" id="pwd" name="pwd">
    </div>

    <button id="loginBtn" class="btn btn-success">登录</button>

    <div class="line line-dashed"></div>

    <p class="text-muted text-center"><small>没有帐户?</small></p>

    <a id="registerBtn" href="/register" class="btn btn-default btn-block">注册</a>
</form>
{% endblock %}
{% block js %}
<script>
$(function() {
    $("#account").focus();

    function showMsg(msg, id) {
        $("#loginMsg").html(msg).show();
        if(id) {
            $("#" + id).focus();
        }
    }
    function hideMsg() {
        $("#loginMsg").hide();
    }
    $("#loginBtn").click(function(e){

        e.preventDefault();
        var account = $("#account").val();
        var pwd   = $("#pwd").val();
        if(!account) {
            showMsg("请输入用户名", "account");
            return;
        } else {
            var accountreg = /^[a-zA-Z]{1}([a-zA-Z0-9_]){3,13}$/;
            if(!accountreg.test(account)) {
                showMsg("用户必须为4-14位", "account");
                return;
            }
        }
        if(!pwd) {
            showMsg("请输入密码", "pwd");
            return;
        } else {
            if(pwd.length < 6) {
                showMsg("密码至少6位", "pwd");
                return;
            }
        }

        $.post("/login", {account: account, password: pwd}, function(e) {
            $("#loginBtn").html("登录").removeClass("disabled");
            if(e.Ok) {
                $("#loginBtn").html("登录成功, 正在跳转...");
                var from = $("#from").val() || "/";
                location.href = from;
            } else {
                showMsg(e.Msg, "account");
            }
        });
    });
});
</script>
{%endblock%}
