{%extends "layout.html"%}
{%block title%}创建书籍{%endblock%}
{%block content%}
<form id="login-form" class="form" action="#" method="post" name="signin-form">
    <div class="alert alert-danger" id="newMsg"></div> 
    <div class="form-group"> 
        <label class="control-label" for="name">书名</label>
        <input type="text" class="form-control" id="name" name="name"> 
    </div>
    <div class="form-group"> 
        <label class="control-label" for="desc">描述</label>
        <textarea class="form-control" id="desc" name="desc"></textarea> 
    </div>
    <button id="newBtn" class="btn btn-success">创建</button>
</form>
{%endblock%}
{% block js %}
<script>
$(function() {
    $("#account").focus();

    function showMsg(msg, id) {
        $("#newMsg").html(msg).show();
        if(id) {
            $("#" + id).focus();
        }
    }
    function hideMsg() {
        $("#newMsg").hide();
    }
    $("#newBtn").click(function(e){

        e.preventDefault();
        var name = $("#name").val();
        var desc = $("#desc").val();
        if(!name) {
            showMsg("请输入书名", "name");
            return;
        }

        $.post("/new", {name: name, desc: desc}, function(e) {
            $("#newBtn").html("创建").removeClass("disabled");
            if(e.Ok) {
                $("#newBtn").html("创建成功, 正在跳转...");
                var from = $("#from").val() || "/";
                location.href = from;
            } else {
                showMsg(e.Msg, "name");
            }
        });
    });
});
</script>
{%endblock%}
